@import url("https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.html,
.body {
  margin: 0;
  padding: 0;
}

#title {
  display: flex;
  font-size: 3em;
  justify-content: center;
}

#header {
  background-color: rgb(245, 173, 173);
  margin: 0px;
}
