@import url("https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;
}

#title {
  display: flex;
  font-size: 3em;
  justify-content: center;
  font-family: "SUSE Mono", sans-serif;
}

#titleText {
  padding-top: 5px;
}

#header {
  background-color: rgb(214, 86, 101);
  padding-top: 5px;
  padding-bottom: 10px;
}

#container {
  margin-top: 10vh;
}

button {
  font-family: "SUSE Mono", sans-serif;
  font-size: 1.1em;
}

.areaStyling {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7vh;
}

#serverText {
  border: none;
  border-bottom: 3px solid;
  border-color: rgb(213, 77, 95);
  background-color: rgb(255, 164, 188);
  border-radius: 5px;
  font-size: 1.4em;
  padding-top: 20vh;
  width: 40vw;
  height: auto;
}

#pairing {
  border: none;
  border-bottom: 3px solid;
  border-color: rgb(213, 77, 95);
  background-color: rgb(255, 164, 188);
  border-radius: 5px;
  font-size: 1.4em;
  padding-top: 8px;
  width: 40vw;
  height: auto;
}

#pairing::placeholder,
#serverText::placeholder {
  padding-top: 6px;
  font-family: "SUSE Mono", sans-serif;
}

#pairing:focus,
#serverText:focus {
  outline: none;
  background-color: rgb(237, 203, 214);
  border-color: rgb(228, 146, 157);
}

#pairing:focus::placeholder,
#serverText:focus::placeholder {
  color: transparent;
}

#copyPaste {
  flex-direction: row;
  margin-bottom: 20px;
}

#copy {
  margin-right: 5vw;
}

.emoji {
  animation: slideIn 2s ease-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-20vw);
    opacity: 1;
  }

  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}
